@use "../globals" as *;

.font-10-14 {
  font-size: fluid-text(10px, 14px);
}

.font-12-14 {
  font-size: fluid-text(12px, 14px);
}

.font-14-16 {
  font-size: fluid-text(14px, 16px);
}

.font-14-20 {
  font-size: fluid-text(14px, 20px);
}

.font-16-24 {
  font-size: fluid-text(16px, 24px);
}

.font-16-18 {
  font-size: fluid-text(16px, 18px);
}

.font-16-20 {
  font-size: fluid-text(16px, 20px);
}

.font-36-65 {
  font-size: fluid-text(36px, 65px);
}

.font-36-48 {
  font-size: fluid-text(36px, 48px);
}

.font-48-72 {
  font-size: fluid-text(48px, 72px);
}

.font-48-84 {
  font-size: fluid-text(48px, 84px);
}

.font-48-110 {
  font-size: fluid-text(48px, 110px);
}

.font-48-96 {
  font-size: fluid-text(48px, 96px);
}
