/*
 * サイト内パラメータ設定ファイル
 */
$c-black: #000000;
$c-white: #ffffff;
$c-gray: #868686;

// サイト内フォントサイズ設定
$default-min-bp: 375px;   // _functions.scss / fluid-textで使用
$default-max-bp: 1280px;  // _functions.scss / fluid-textで使用
$root-font-size: 16px;

$base-font: 'Noto Serif JP', serif;      // サイト内ベースフォント
$accent-font: 'Montserrat', sans-serif;  // サイト内タイトル用フォント